@{
    ViewBag.Title = "Your order has already been processed";
}

<h2>Thanks!</h2>
<p>Thanks for the choice of our store. The order will be sent to the delivery service in the shortest possible time.</p>